

.root{
  color: #fff;
}

.container{
 background: #373277;
  margin: 0 auto;
  padding: 20px 20px;
  max-width: var(--max-content-width);

}
.activeRoute {
  font-weight: bold;
  text-decoration: underline;
  font-size:25px;
}
.brand{
  color: blue;
  text-decoration: none!important;
  font-size: 1.75em; /* ~28px */
}

.banner {
  text-align: left;
}

.bannerTitle {
  margin: 0;
  padding: 10px;
  font-weight: normal;
  font-size: 4em;
  line-height: 1em;
}

.bannerDesc {
  padding: 0;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.25em;
  margin: 0;
}

.activeRoute {
  font-weight: bold;
  text-decoration: underline;
}

.link {
  display: inline-block;
  padding: 4px 0;
  text-decoration: none;
  float: right;
  margin-top: 6px;
  margin-right: 10px;
  font-size: 1.125em; /* ~18px */
}

.brandTxt {
  padding-top:1px;
  margin-left: 10px;
  color:white;
}

.link,
.link:active,
.link:visited {
  color: rgba(255, 255, 255, 0.6);
}

.link:hover {
  color: rgba(255, 255, 255, 1);
}

.highlight {
  margin-right: 8px;
  margin-left: 8px;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.15);
  color: #fff;
}

.highlight:hover {
  background: rgba(0, 0, 0, 0.3);
}
